# Kubernetes 구성 파일 테스트 결과 사용

클라우드 구성 파일을 Snyk으로 가져오면 Snyk은 저장소에 관련된 변경 사항이 있는지 지속적으로 모니터링하여 설정의 구성을 기반으로 정기적으로 파일을 다시 테스트합니다. 권장 사항은 [관리자가 구성하고 관리하는 관련 설정](configure-integration-for-security-issues-in-kubernetes-configuration-files.md)을 기반으로 합니다.

프로젝트 링크를 클릭하여 테스트 결과를 확인하고 보안 문제를 일으킬 수 있는 잘못된 구성을 해결하십시오.

결과 페이지는 다음과 같이 나타납니다.

![](../../../.gitbook/assets/uuid-ab412f8f-32f3-ab39-4615-1a45f42e7d0f-en.png)
