# CLI 테스트 결과 보기

`snyk test` 를 실행하면 취약점 및 라이선스 issue 목록이 CLI에서 직접 표시됩니다. 목록에는 다음이 포함됩니다:

* 심각
* issue에 대한 자세한 설명
* 관련 있는 경우 각 issue에 대한 보다 구체적인 세부 정보에 대한 링크

테스트한 프로젝트의 언어에 따라 취약점을 수동으로 수정하는 방법에 대한 세부 정보를 포함하여 수정 조언을 볼 수도 있습니다.

자세한 내용은 다음 페이지를 참조하십시오:

* CLI 시작하기: [Getting started with the CLI](https://github.com/snyk/user-docs/blob/5e52535b78618f57eda40eb08fc8fbf91e16f1f0/docs/features/snyk-cli/getting-started-with-the-cli)
* CLI reference: [The CLI reference](https://github.com/snyk/user-docs/blob/5e52535b78618f57eda40eb08fc8fbf91e16f1f0/docs/features/snyk-cli/cli-reference)
* Snyk CLI: [Snyk CLI](https://github.com/snyk/user-docs/blob/5e52535b78618f57eda40eb08fc8fbf91e16f1f0/docs/features/snyk-cli)
