# View CLI test results



After you run `snyk test,` a list of vulnerabilities and license issues is displayed directly from the CLI. The list includes:

* severity
* detailed descriptions of issues
* where relevant, links to more specific details for each issue

Depending on the language of the project you have tested you may also see fix advice, including details on how you can manually fix the vulnerability.

For more information refer to the following pages:

* [Getting started with the CLI](https://github.com/snyk/user-docs/blob/5e52535b78618f57eda40eb08fc8fbf91e16f1f0/docs/features/snyk-cli/getting-started-with-the-cli)
* [The CLI reference](https://github.com/snyk/user-docs/blob/5e52535b78618f57eda40eb08fc8fbf91e16f1f0/docs/features/snyk-cli/cli-reference)
* [Snyk CLI](https://github.com/snyk/user-docs/blob/5e52535b78618f57eda40eb08fc8fbf91e16f1f0/docs/features/snyk-cli)
